

body {
    background: #DED9E2;
    background-size: cover;
}

.disappearing {
}

.header {
    color: white;
    background: #171d1c;
    display: flex;
    justify-content: space-around;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.menu {
    width: 190px;
    font-size: 14px;
}

.menu a {
    margin-right: 6%;
}

.logo {
    font-size: 36px;
}

a {
    color: white;
}

.text_on_img {
    color: white;
    font-size: 36px;
    position: relative;
    text-align: center;
}

.text_on_img img {
    width: 100%;
    height: auto;
}

.text_on_img div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_text {
    color: black;
    font-size: 18px;
    text-align: center;
    margin-bottom: 7.5%;
    margin-top: 7.5%;
    margin-right: 12.3%;
    margin-left: 12.3%;
}

.headline {
    color: black;
    font-size: 36px;
    text-align: center;
    margin-bottom: 4%;
}

.inside_headline {
    color: black;
    font-size: 26px;
    text-align: center;
    margin-bottom: 2%;
}

.inside_text {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.grid {
    display: flex;
    justify-content: center;
    margin-bottom: 7.5%;
}

.grid_block {
    color: black;
    font-size: 14px;
    background: #C4C4C4;
    width: 33%;
}

.center_grid_block {
    color: black;
    font-size: 14px;
    background: #C4C4C4;
    width: 33%;
    margin-right: 0.25%;
    margin-left: 0.25%;
}

.block {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.block div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.block img {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    max-height: 22%;
    max-width: 22%;
}

.left_img {
    margin-left: 5%;
}

.right_img {
    margin-right: 5%;
}

.buy {
    margin-top: 10%;
}

.buy div {
    display: flex;
    justify-content: center;
}

.apply {
    color: white;
    background-color: #171d1c;
    font-size: 18px;
    width: 180px;
    height: 50px;
    margin-top: 3%;
}

.footer {
    background: #171d1c;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.footer div {
    font-size: 14px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer a {
    margin-bottom: 1%;
    margin-top: 1%;
}

@media (max-width: 800px) {
    .text_on_img {
        font-size: 20px;
    }

    .grid {
        flex-direction: column;
    }

    .grid_block {
        width: 100%;
        margin-bottom: 1%;
    }

    .center_grid_block {
        width: 100%;
        margin-bottom: 1%;
    }

    .disappearing {
        display: none;
    }

    .right_img {
        display: none;
    }

    .left_img {
        display: none;
    }
}

@media (max-width: 600px) {
    .text_on_img {
        font-size: 15px;
    }

    .footer {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .footer div {
        width: 100%;
        font-size: 12px;
    }

}

